<div class="row">
    <div class="col">
        <input type="text" (keyup)="buscar(termino.value)" class="form-control" placeholder="Buscar" #termino>
    </div>

    <app-loading *ngIf="loadin"></app-loading>
    <div class="card-columns mt-5">
        <div (click)="verArtista(artista)" *ngFor="let artista of artistas; let i = index" class="card puntero">
            <img [src]="artista.images[1].url" *ngIf="artista.images[1].url" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title mb-0">{{artista.name}}</h5>
                <p style="color: black; font-size: 24px;">Generos:
                    <span *ngFor="let generos of artista.genres" class="badge badge-pill badge-primary mb-2"> {{generos}} </span>
                </p>
                <a class="btn btn-outline-success" target="_blank" [href]="artista.external_urls.spotify">Escuhar en Spotify <i class="fab fa-spotify"></i></a>
            </div>
        </div>
    </div>